
 <div class="background-profil">
  <div class="profile-card">
    <header>
    </header>
    <div id="login-container">
        <div class="profile-img" style="background-image: url(<%= cl_image_path current_user.photo.key %>)"></div>
          <div class="nickname-age">
            <br>
            <div class="nickname"><h1><%= current_user.nickname%></h1></div>
            <div class="age"><h3><%= current_user.age %> ans</h3></div>
          </div> 

        <div class="description">
          <p><%= current_user.description %></p>
        </div>
    </div>

    <%= link_to "Find a Game", offers_path, class: "btn-profil"%>
    <br>
    <br>
    <div class="bookings">
      <div class="proficard-title">
        <i class="fas fa-star"></i><h2>My games</h2><i class="fas fa-star"></i> 
      </div>
        <button class="trigger">See historic</button>
          <div class="booking-field">
            <br>
              <% current_user.bookings.each do |booking| %>
                <ul>

                  <div class="booked">
                    <li>
                      Reserved <%= booking.offer.title %> for <%= booking.status %>
                      <%= link_to booking_path(booking), method: :delete do %>
                          <i class="far fa-times-circle"> </i>
                        <% end %>
                    </li>
                  </div>
                </ul>
              <% end %>
          </div>

          <footer>
    </footer>
    </div>
    
</div>

  <div class="modal">
  <div class="overlay"></div>
    <div class="modal-content">
      <span class="close-button">&times;</span>
        <div class="historic">
          <i class="far fa-futbol"></i><h1>Historic</h1><i class="far fa-futbol"></i>
        </div>
              <div class="passed-games">
                <% @old_bookings.each do |old_booking| %>
                  <ul>
                    <div class="game">
                      <li><%=old_booking.offer.title%></li>
                    </div>
                  </ul>
                <% end %>
              </div>
           
              <div class="palmares">
                <div class="title">
                <i class="fas fa-trophy"></i><h1>Ranking</h1><i class="fas fa-trophy"></i>
                </div>
                  <div class="palmares-text">
                    <%= games = @old_bookings.count %><%= " games" %><i class="fas fa-check"></i>
                    <br>
                    <p><% case games
                      when 1..3 %>
                        Your a district player
                      <% when 3..7 %>
                        Your a semi-pro
                      <% when 7..100 %>
                        Your a legend, the master of the field!
                    <% end %></p>
                  </div>
                  <br>
              <div class="next-step">
                <% case games
                 when 1..3 %>
                    Go for more games !
                  <% when 3..7 %>
                    Congrats,  !
                  <% when 7..100 %>
                    Ultimate step, you are awesome
                <% end %></p>
              </div>

          </div>
    </div>
  </div>    
  </div>


