<div class="background-profil">
  <div class="profile-card">
    <div id="login-container">
        <div class="profile-img" style="background-image: url(<%= cl_image_path current_user.photo.key %>)"></div>
          <div class="nickname-age">
            <h2><%= current_user.nickname%></h2>
            <h2 class="profile-age"><%= current_user.age %> years old</h2>
          </div>
          <%= link_to "Log Out",  destroy_user_session_path, method: :delete, class: "profile-logout" %>
          <div class="description">
            <p><%= current_user.description %></p>
          </div>
        </div>
      <ul class="onglets">
        <li class="bookings-onglet active">Bookings</li>
        <li class="reviews-onglet">Reviews</li>
      </ul>
      <div class="main-modal">
        <div class="modal-bookings">
          <% current_user.bookings.each do |booking| %>
            <% if booking.offer.play_time > Date.today %>
              <ul>
                <div class="booked">
                  <div class="avatar">     
                    <%= l(booking.offer.play_time, format: :short) %>
                  </div>
                  <li>
                    <%= booking.offer.title %><%= link_to booking.status, offer_path(booking.offer), class: "profile-play-btn" %>
                    <%= link_to booking_path(booking), method: :delete, class: "profile-delete-btn" do %>
                        <i class="far fa-times-circle"></i>
                      <% end %>
                  </li>
                </div>
              </ul>
            <% end %>
          <% end %>
        </div>
        <div class="modal-reviews">
              <% @old_bookings.each do |old_booking| %>
                <ul>
                  <div class="passed-games booked">
                    <div class="avatar">
                      <%= l(old_booking.offer.play_time, format: :short) %>    
                    </div>
                    <ul>
                      <div class="game">
                        <li><%=old_booking.offer.title%></li>
                      </div>
                    </ul>
                  </div>
                </ul>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


