
 <div class="background-profil"> 
  <div class="profile-card">
    <header>
    </header>
    <div id="login-container">
        <div class="profile-img"></div>
          <br>
          <h1>Ronaldinho</h1><h3>40 ans</h3>
        <div class="description">
          Je suis un footballeur du Brésil, j'aime bien dribbler et m'amuser avec les adversaires sur le terrain 
        </div>
    </div>
    <br>
    <br>
    <%= link_to "Find a Game", offers_path, class: "btn-profil"%>
    <br>
    <br>
    <div class="bookings">
        <h2>My games</h2>
          <%# if bookings.empty? = true %>
          <div class="booking-field">
            <br>
              <% current_user.bookings.each do |booking| %>
                <ul>
                  <div class="booked">
                    <li> 
                      Reserved <%= booking.offer.title %> for <%= booking.status %>
                      <button class="trigger">Click here to trigger the modal!</button>
                    </li>
                    <%# <div class="show-modal"> %>
                    
                    <%# </div> %>
                  </div>
                </ul> 
              <% end %>
          </div>
    </div>

  <div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
        <h1>Historic</h1>
          <div class="passed-games">
            <ul>
              <li><%= "match archivé 1" %></li>
              <li><%= "match archivé 2" %></li>
              <li><%= "match archivé 3" %></li>
            </ul>
          </div>
          <br>
          <div class="palmares">
            <h1>Ranking</h1>
            <br>
              <div class="palmares-text">
                <%= "#? games finished" %>
                <%= "Congratulations" %>
                <br>
                <%= "You are a legend" %>
              </div>
              <div class="next-step">
                <%= "You are at the ultimate step, what a player ! " %>
              </div>
          </div>
    </div>
  </div>


    <footer>
    </footer>
  </div>
</div>


    


