
<div class="home-container" style="background-image: url('<%= image_path("background.jpg") %>'); background-size: cover; ">
<div class="home-title">
<h1 class="text-center"><span class="encadrer">SP<i class="fa fa-futbol regular"></i>RT WITH US</span></h1></div>

<ul class="text-container">
<br>

 <% if user_signed_in? %>
      <li><%= link_to "Find your match !", offers_path, class: "btn btn-classic"%></li>
      <br>
      <li><%= link_to "Host a game", new_offer_path, class: "btn btn-classic" %></li>
      <br>
      <li><%= link_to "My profile", user_path(current_user), class: "btn btn-classic" %></li>
      <br>
      </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-classic" %>
        </li>
      <% end %>


</ul>
</div>
