<div class="main-container">
  <div class="home-container" style="background-image: url('<%= image_path("background.jpg") %>'); background-size: cover; ">
  <div class="home-cage" style="background-image: url('<%= image_path("cage.png") %>'); background-size: cover; ">
  <div class="home-title">
  <h1 class="text-center"> SP<i class="fa fa-futbol regular"></i>RT WITH US</span></h1></div>
  </div>
  <div class="text-container">
  <br>

  <% if user_signed_in? %>
    <br>
    <br>
    <br>
    <div class="both-counters">
      <div class="game-counter">
        <h4><%= current_user.offers.count %></h4>
          <p> available games</p></div>
      <div class="current-booking">
        <h4><%= current_user.bookings.count %></h4>
          <p> games booked, be ready !</p>
      </div>
    </div>
    
      <br>
      <br>
    <div><%= link_to "Find your match !", offers_path, class: "btn btn-classic"%></div>
      <br>
    

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-classic" %>
          </div>
        <% end %>


  </div>
  </div>
</div>