<div class="main-container">
  <div class="home-container" style="background-image: url('<%= image_path("background.jpg") %>'); background-size: cover; ">
  <div class="home-cage" style="background-image: url('<%= image_path("cage.png") %>'); background-size: cover; ">
  <div class="home-title">
  <h1 class="text-center"> SP<i class="fa fa-futbol regular"></i>RT WITH US</span></h1></div>
  </div>
  <div class="text-container">
  <br>

  <% if user_signed_in? %>
    <br>
    <div class="both-counters">
      
      <%= link_to offers_path do  %>
        <div class="game-counter">  
          <h4><%= current_user.offers.count %></h4>
            <p> available games</p></div>
      <% end %>

      <%= link_to user_path(current_user) do  %>
        <div class="current-booking" >
          <h4><%= current_user.bookings.count %></h4>
            <p> games booked !</p> </div>
      <% end %>
     
      <div class="2guys-svg" style="content: url(<%= image_path('football-players.svg') %>);width: 112px; height: 104px; top: 208px; left: 14px; margin-top: -5px; position: absolute;"></div>
      <div class="soccer-ball" style="content: url(<%= image_path('soccer-ball.svg') %>);width: 112px; height: 104px; top: 336px; right: 14px; margin-top: -5px; position: absolute;"></div>
    
      <br>
      <br>
    <div><%= link_to "Find your match !", offers_path, class: "btn btn-classic"%></div>
      <br>
    

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-classic" %>
          </div>
        <% end %>


  </div>
  </div>
</div>