<div class= "show-container">
<div class= "mini-show">
<h2><%= @offer.title %></h2>
<p><%= "#{@offer.min_players}"" Players needed" %></p>
</div>
<h2 class="kick">Kick-off in </h2>
<div id="clockdiv" data-date-time="<%= @offer.play_time %>">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<div class="weather"></div>
<div class="box-btn">
  <%= link_to "https://www.google.com/maps/place/Stade+de+la+Viabert,+169+Rue+Anatole+France,+69100+Villeurbanne/@45.7694807,4.8856843,16z/data=!4m2!3m1!1s0x47f4c030f0c0f07b:0x426c43a2a35a6341?hl=fr", target: "_blank", class: "btn-ok" do %><i class="fas fa-map-marked-alt"></i><% end %>
  <%= link_to "Chat", chatroom_path(@offer.chatroom_id), class: "btn-ok" %>
  <%# <%= link_to "Book", class: "btn-ok" %>
  </div>
</div>
