<div class= "show-container">
<div class= "mini-show">
<h2><%= @offer.title %></h2>
<p><%= "#{@offer.min_players}"" Players needed" %></p>
</div>
<h2 class="kick">Kick-off in </h2>
<div id="clockdiv" data-date-time="<%= @offer.play_time %>">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<div class="weather">
</div>
<div class="box-btn">
  <%= link_to "More games", offers_path, class: "btn-ok"%>
  <%= link_to "Chat", chatroom_path(@offer.chatroom_id), class: "btn-ok" %>
  <%# <%= link_to "Book", class: "btn-ok" %>
  </div>
</div>


<%# , new_offer_booking_path %>


