<h2><%= @offer.title %></h2>
  <p><%= "The game will be held on: " "#{@offer.time}" %></p>
  <p><%= "#{@offer.min_players}"" Players needed" %></p>

  <%= link_to "See more games", offers_path, class: "btn-classic"%>
  <%= link_to "Chat", chatroom_path(@offer.chatroom_id), class: "btn-classic" %>
  <%= link_to "Book", class: "btn-classic" %>



<%# , new_offer_booking_path %>

